<h1>Crear un nuevo Drone</h1>

<form action="/books/create" method="POST">
  
  <label> Name:
    <input type="text" name="Name" />
  </label>

  <label> Propellers:
    <input type="text" name="Propellers" />
  </label>

  <label> MaxSpeed:
    <input type="text" name="MaxSpeed" />
  </label>

  <button type="submit"> Create </button>
</form>